<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>

    <!-- Display Errors -->
    <div th:if="${errorMessages != null}">
        <ul>
            <li th:each="error : ${errorMessages}" th:text="${error}"></li>
        </ul>
    </div>

    <form action="/register" method="post" th:object="${user}">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}">
			<p  th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')}? error">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}">
        </div>

        <button type="submit">Register</button>
    </form>
	
	<p th:text="${msg}"></p>
</body>
</html>
 